
<div class="container" align="center">
   
        <form method="POST" action ="{% url 'update_delivery_person' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type= 'hidden' name='meall' value = '{{meal_id}}'/>
            <div class="form-group" style="align-content: center;">
                <div class="select-row">
                    <p>Select Delivery Person</p>
                    <select name="delivery_person_updatee" id="delivery_person_updatee" class="form-control">
                        <option value="">------</option>
                        {% for user in delivery_person %}

                        <option value="{{user.id}}">{{user.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal">Close</button>

            <button class="btn btn-primary mt-3" type="submit">Update</button>
        </form>
    
</div>
