{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
                <h3 class="mb-0">{{title}} </h3>
                <a href="{% url "add_plan" %}" class="bg-success btn float-end">+Add</a>
            </div>
            {% csrf_token %}
            <!-- Light table -->
            <div class="table-responsive">
                <table class="table table-hover" id="example1">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="sort">SN</th>
                        <th scope="col" class="sort">Name</th>
                        <th scope="col" class="sort">Eating Type</th>
                        <th scope="col" class="sort">Price</th>
                        <th scope="col" class="sort">Duration</th>
                        <th scope="col" class="sort">Saving/Day</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="list">
                    {% for plan in plans %}
                    <tr>
                        <td class="budget">
                            {{forloop.counter}}
                        </td>
                        <td>
                            {{plan.name}}
                        </td>
                        <td>
                            {{plan.eating_type}}
                        </td>
                        <td>
                            {{plan.price}}
                        </td>
                        <td>
                            {{plan.duration}}
                        </td>
                        <td>
                            {{plan.saving_per_day}}
                        </td>
                        <td>
                            <a href="{% url 'edit_plan' plan.id %}" ><i class="fa fa-edit " title="Update" ></i></a>
                            <i class="fa fa-trash-alt" type="button" data-bs-toggle="modal" href="#deleteModal{{plan.id}}" style="background:transparent;"></i>
                        </td>
                    </tr>
                    <!-- Modal -->
                    
                    <div class="modal fade" id="deleteModal{{plan.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel{{plan.id}}">Delete Plan</h5>

                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure want to delete ?
                                User Purchese Plans will also deleted.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a class="btn btn-primary" href="{% url 'delete_plan' plan.id %}">Delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- end Model -->
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>  
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap4.min.js"></script>
<script>
    new DataTable('#example1', {
        responsive: true,
    });
</script>

{% endblock content %}