{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
                <h3 class="mb-0">{{title}} </h3>
               
            </div>
            {% csrf_token %}
            <!-- Light table -->
            <div class="table-responsive">
                <table class="table table-hover" id="example1">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="sort">SN</th>
                        <th scope="col" class="sort">Plan</th>
                        <th scope="col" class="sort">User</th>
                        <th scope="col" class="sort">Transaction</th>
                        <th scope="col" class="sort">Reamining Meal</th>
                        <th scope="col" class="sort">Status</th>
                        <th scope="col" class="sort">Address</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody class="list">
                    {% for plan in plan_purchase %}
                    <tr>
                        <td class="budget">
                            {{forloop.counter}}
                        </td>
                        <td>
                            {{plan.plan}}
                        </td>
                        <td>
                            {{plan.user}}
                        </td>
                        <td>
                            {{plan.transaction}}
                        </td>
                        <td>
                            {{plan.remaining_meals}}
                        </td>
                        <td>
                            {% if plan.status %}
                                Active
                             {% else %}
                            InActive
                            {% endif %}
                            </td>
                        <td>
                            {{plan.address}}
                        </td>
                        <td>
                          {{plan.created_at}}
                        </td>
                    </tr>
                   
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>  
    </div>
</div>

{% endblock content %}
{% block javascripts %}
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap4.min.js"></script>
<script>
new DataTable('#example1', {
    responsive: true,
});
</script>
    <script>
        console.log("dd")
        $(document).on('change', '.planPurchaseStatus', function(e) {
            var plan_id = $(this).data('plan-id');
            var new_status = $(this).val();
            var url = "{% url 'update-plan-purchase-active-ajax' %}";
            
            $.ajax({
                url: url,
                type: 'post',
                data: {
                    'plan_id': plan_id,
                    'new_status': new_status,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                dataType: 'json',
                success: function(data) {
                    if (data.success) {
                        console.log('User status updated successfully');
                    
                    } else {
                        console.error('Error updating user status:', data.error);
                    }
                }
            });
        });
    </script>
{% endblock javascripts %}
