{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
                <h3 class="mb-0">{{title}} </h3>
                <a href="{% url "add_plan" %}" class="bg-success btn float-end">+Add</a>
            </div>
            {% csrf_token %}
            <!-- Light table -->
            <div class="table-responsive">
                <table class="table table-hover" id="example1">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="sort">SN</th>
                        <th scope="col" class="sort">Name</th>
                        <th scope="col" class="sort">Eating Type</th>
                        <th scope="col" class="sort">Tag</th>
                        <th scope="col" class="sort">Price</th>
                        <th scope="col" class="sort">Number of Meals</th>
                        <th scope="col" class="sort">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="list">
                    {% for plan in plans %}
                    <tr>
                        <td class="budget">
                            {{forloop.counter}}
                        </td>
                        <td>
                            {{plan.name}}
                        </td>
                        <td>
                            {{plan.eating_type}}
                        </td>
                        <td>
                            {{plan.tag}}
                        </td>
                        <td>
                            {{plan.price}}, <small class="text-black-50">{{plan.price_per_meal}}/Meal</small>
                        </td>
                        <td>
                            {{plan.number_of_meals}}
                        </td>
                        <td>
                            {% if plan.status == "Active" %}
                                <select class="border-0 PlanStatus" data-plan-id="{{ plan.id }}">
                                    <option value="Active" {% if plan.status == 'Active' %}selected{% endif %}>Active</option>
                                    <option value="Inactive" {% if plan.status == "Inactive" %}selected{% endif %}>Inactive</option>
                                </select>
                            {% else %}
                                <select class="border-0 PlanStatus" data-plan-id="{{ plan.id }}">
                                    <option value="Active" {% if plan.status == 'Active' %}selected{% endif %}>Active</option>
                                    <option value="Inactive" {% if plan.status == "Inactive" %}selected{% endif %}>Inactive</option>
                                </select>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'edit_plan' plan.id %}" ><i class="fa fa-edit " title="Update" ></i></a>
<!--                            <i class="fa fa-trash-alt" type="button" data-bs-toggle="modal" href="#deleteModal{{plan.id}}" style="background:transparent;"></i>-->
                        </td>
                    </tr>
                    <!-- Modal -->
                    
                    <div class="modal fade" id="deleteModal{{plan.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel{{plan.id}}">Delete Plan</h5>

                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure want to delete ?
                                Purchese Plans of users will be also deleted.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a class="btn btn-danger" href="{% url 'delete_plan' plan.id %}">Delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- end Model -->
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>  
    </div>
</div>
{% endblock content %}
{% block javascripts %}
<script>
    $(document).on('change', '.PlanStatus', function(e) {
        var plan_id = $(this).data('plan-id');
        var new_status = $(this).val();
        var url = "{% url 'update_plan_active_ajax' %}";

        $.ajax({
            url: url,
            type: 'post',
            data: {
                'plan_id': plan_id,
                'new_status': new_status,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            dataType: 'json',
            success: function(data) {
                if (data.success) {
                    console.log('User status updated successfully');

                } else {
                    console.error('Error updating user status:', data.error);
                }
            }
        });
    });
</script>
{% endblock javascripts %}