Hi there!

Welcome to Amritsari Tadke Mein, your passport to a world of authentic Punjabi flavors! We're excited to have you join us on this culinary adventure.

To get started and unlock access to our delicious menu, here's your special signup OTP:

Your Signup OTP: {{otp}}

Simply enter this code during the signup process, and you'll be ready to explore our mouthwatering dishes, place orders, and enjoy the convenience of doorstep delivery.

Get ready to tantalize your taste buds and discover the true essence of Punjab with every bite!

Happy feasting!

Warm regards,
The Amritsari Tadke Mein Team
{% if email %}
Contact: {{email}}
{% endif %}
