{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            {% comment %} <div class="card-header border-0">
                <h3 class="mb-0"></h3>
            </div> {% endcomment %}
            <div class="card-body table-responsive row">
                {% for plan in meals_count %}
                <div class="col row m-1 bg-gray-100 rounded p-1 pb-2">
                    <div class="col p-1">
                        <div class="card-counter info">
                            {% comment %} <i class="fa fa-users"></i> {% endcomment %}
                            {% for d in plan %}
                            <span class="count-numbers">{{d.name}}</span>: <span class="count-name">{{d.quantity}} </span></br/>
                            {% endfor %}
                        </div>
                    </div>
                </div>  
                {% endfor %}  
            </div>
        </div>

        <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
                <h3 class="mb-0">{{ title }}</h3>
                {% if request.user.is_staff %}
                    <a href="{% url "add_daily_meal" %}" class="bg-success btn float-end">+Add</a>
                {% endif %}
            </div>
            {% csrf_token %}
            <!-- Light table -->
            <div class="table-responsive">
                <table class="table table-hover" id="example1">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="sort">SN</th>
                            <th scope="col" class="sort">User</th>
                            <th scope="col" class="sort">Plan</th>
                            <th scope="col" class="sort">Date</th>
                            <th scope="col" class="sort">Status</th>
                            <th scope="col" class="sort">Address</th>
                            <th scope="col" class="sort">Meal</th>
                            <th scope="col" class="sort">Rice+Roti</th>
                            <th scope="col" class="sort">Instruction</th>                           
                        </tr>
                    </thead>
                    <tbody class="list">
                        {% for meal in daily_meal_request %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ meal.requester }}</td>
                            <td>{{ meal.meal }}</td>
                            <td>{{ meal.date }}</td>
                            <td>
                                {% if meal.date|date == today|date %}
                                <select class="border-0 mealRequestStatus" data-meal-id="{{ meal.id }}">
                                    <option value="Requested" {% if meal.status == 'Requested' %}selected{% endif %}>Requested</option>
                                    <option value="Cooked/Packed" {% if meal.status == 'Cooked/Packed' %}selected{% endif %}>Cooked/Packed</option>
                                </select>
                                {% else %}
                                {% endif %}
                            </td>
                            <td> {{ meal.address }} </td>
                            <td> {{ meal.meal_items|safe }}</td>
                            <td> {{ meal.meal.name }}</td>
                            <td> {% if meal.instruction %}{{ meal.instruction }}{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



{% endblock content %}


<!-- Specific Page JS goes HERE  -->    
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
{% endblock stylesheets %}


{% block javascripts %}
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap4.min.js"></script>

{% comment %} Print  Button {% endcomment %}
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>

<script>
    $(document).ready(function () {
        // DataTables initialization
       
        $('#example1').dataTable( {
            "columns": [
              { "data": "SN" },
              { "data": "User" },
              { "data": "Plan" },
              { "data": "Date" },
              { "data": "Status" },
              { "data": "Address" },
              { "data": "Meal" },
              { "data": "Rice+Roti" },
              { "data": "Instruction" },
            ],
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf', 'print'
            ],
          });
       

        $(document).on('change', '.mealRequestStatus', function (e) {
            var meal_id = $(this).data('meal-id');
            var new_status = $(this).val();
            var url = "{% url 'update-meal-active-ajax' %}";

            $.ajax({
                url: url,
                type: 'post',
                data: {
                    'meal_id': meal_id,
                    'new_status': new_status,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        console.log('User status updated successfully');
                    } else {
                        console.error('Error updating user status:', data.error);
                    }
                }
            });
        });

        $(document).on('click', '.assignDeliveryBoyBtn', function (e) {
            var meal_id = $(this).data('meal-id');
            var url = $(this).data('url');
            $.ajax({
                url: url,
                type: 'post',
                data: {
                    'meal_id': meal_id,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    $("#AssignDeliveryBoyModal .modal-body").html(data.update);
                }
            });
        });
    });
</script>


{% endblock javascripts %}

