{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
                <h3 class="mb-0">{{ title }}
                    {% if request.user.is_staff %}
                        <a href="{% url "add_daily_meal" %}" class="bg-success btn float-end">+Add</a>
                    {% endif %}
                </h3>
            </div>
            <div id="filterDiv" class="m-3 row ">
                <!-- Search -->
                
                <div class="col">
                    <label for="searchDate">Date</label>
                    <select id="searchDate">
                      {% for s in date_filters %}
                      <option value={{s}} {% if request.GET.date == s %} selected {% endif %}>{{s}}</option>
                      {% endfor %}
                    </select>
                </div>
                
                <div class="col">
                    <!-- Search by date range -->
                    <div class="form-group">
                        <label>Search By Date:</label>
                        <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                            <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control float-right" id="reservation" name="daterange">
                        </div>
                    </div>
                </div>
                
                <div class="col">
                  <label for="searchUser">Mobile</label>
                  <input id="searchUser">
                </div>

                <div class="col">
                  <label for="searchPlan">Meal Plan </label>
                  <select id="searchPlan">
                    <option selected value>All</option>
                    {% for name in plan_names %}
                    <option>{{name}} </option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col">
                  <label for="searchType">Eating Type</label>
                  <select id="searchType">
                    <option selected value>All</option>
                    {% for t in meal_types %}
                    <option>{{t}} </option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col">
                  <label for="searchStatus">Status</label>
                  <select id="searchStatus">
                    <option selected value>All</option>
                    {% for s in statuss %}
                    <option>{{s}} </option>
                    {% endfor %}
                  </select>
                </div>
               

            </div>

            {% csrf_token %}
            <!-- Light table -->
            <div class="table-responsive">
                <table class="table table-hover" id="example1">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="sort">SN</th>
                            <th scope="col" class="sort">User Name</th>
                            <th scope="col" class="sort">User Email</th>
                            <th scope="col" class="sort">Mobile</th>
                            <th scope="col" class="sort">Meal Plan</th>
                            <th scope="col" class="sort">Eating Type</th>
                            <th scope="col" class="sort">Date</th>
                            <th scope="col" class="sort">Status</th>
                            <th scope="col" class="sort">Address</th>
                            <th scope="col" class="sort">Lat, Long</th>
                            <th scope="col" class="sort">Meal</th>
                            <th scope="col" class="sort">Rice+Roti</th>
                            <th scope="col" class="sort">Instruction</th> 
                            <th scope="col" class="sort">Action</th>
                           
                        </tr>
                    </thead>
                    <tbody class="list">
                        {% for meal in daily_meal_request %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                {% if meal.requester.name %} {{meal.requester.name}} {% endif %}
                            </td>
                            <td>
                                {% if meal.requester.email %} {{meal.requester.email}} {% endif %}
                            </td>
                            <td> {% if meal.mobile_number %} {{ meal.mobile_number }} {% elif meal.requester.mobile_number %} {{meal.requester.mobile_number}} {% endif %} </td>
                            <td>{{ meal.plan.plan.name }}</td>
                            <td>{{ meal.meal }}</td>
                            <td>{{ meal.date|date }}</td>
                            <td>
                                {{meal.status}}
                                {% comment %} <select class="border-0 mealRequestStatus" data-meal-id="{{ meal.id }}">
                                    <option value="Requested" {% if meal.status == 'Requested' %}selected{% endif %}>Requested</option>
                                    <option value="Success" {% if meal.status == 'Success' %}selected{% endif %}>Success(Confirm)</option>
                                    <option value="Prepared" {% if meal.status == 'Prepared' %}selected{% endif %}>Prepared</option>
                                    <option value="Packed" {% if meal.status == 'Packed' %}selected{% endif %}>Packed</option>
                                    <option value="Delivered" {% if meal.status == 'Delivered' %}selected{% endif %}>Delivered</option>
                                </select> {% endcomment %}
                            </td>
                            <td> {{ meal.address }} </td>
                            <td> {{ meal.latitude }}, {{ meal.longitude }} </td>
                            <td> {{ meal.meal_items|safe }}</td>
                            <td> {{ meal.meal.name }}</td>
                            <td> {% if meal.instruction %}{{ meal.instruction }}{% endif %}</td>
                            <td>
                                {% if meal.delivery_person %}
                                    <button class="btn btn-success assignDeliveryBoyBtn"
                                        data-meal-id="{{ meal.id }}"
                                        data-url="{% url 'get_delivery_person_list_popup' %}" data-bs-toggle="modal" href="#AssignDeliveryBoyModal">
                                        {{ meal.delivery_person }}
                                    </button>
                                {% else %}
                                <a href="{% url "update_daily_meal" meal.id %}" class="mx-2"><i class="fa fa-edit" title="Update" ></i></a>
                                {% comment %} <button class="btn btn-warning assignDeliveryBoyBtn"
                                    data-meal-id="{{ meal.id }}"
                                    data-url="{% url 'get_delivery_person_list_popup' %}"
                                    data-bs-toggle="modal" href="#AssignDeliveryBoyModal">
                                    Assign Delivery Person
                                </button> {% endcomment %}
                                {% endif %}
                            </td>
                           
                        </tr>
                        <!-- Modal -->
                        {% comment %} <div class="modal fade" id="AssignDeliveryBoyModal" tabindex="-1" aria-labelledby="exampleModalToggleLabel2" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel2">Assign Delivery Person</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body"></div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <!-- end Model -->
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

{% block javascripts %}
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap4.min.js"></script>

{% comment %} Print  Button {% endcomment %}
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>


<script src="{% static 'assets/daterangepicker/daterangepicker.js' %}"></script>

<script>
    $(document).ready(function () {
        // DataTables initialization
       
        $('#example1').dataTable( {
            
            "columns": [
              { "data": "SN" },
              { "data": "User Name" },
              { "data": "User Email" },
              { "data": "Mobile" },
              { "data": "Meal Plan" },
              { "data": "Eating Type" },
              { "data": "Date" },
              { "data": "Status" },
              { "data": "Address" },
              { "data": "Lat, Long" },
              { "data": "Meal" },
              { "data": "Rice+Roti" },
              { "data": "Instruction" },
              { "data": "Action" }
            ],
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf', 'print'
            ],
        });
       

        $(document).on('change', '.mealRequestStatus', function (e) {
            var meal_id = $(this).data('meal-id');
            var new_status = $(this).val();
            var url = "{% url 'update-meal-active-ajax' %}";

            $.ajax({
                url: url,
                type: 'post',
                data: {
                    'meal_id': meal_id,
                    'new_status': new_status,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        console.log('User status updated successfully');
                    } else {
                        console.error('Error updating user status:', data.error);
                    }
                }
            });
        });

        $(document).on('click', '.assignDeliveryBoyBtn', function (e) {
            var meal_id = $(this).data('meal-id');
            var url = $(this).data('url');
            $.ajax({
                url: url,
                type: 'post',
                data: {
                    'meal_id': meal_id,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    $("#AssignDeliveryBoyModal .modal-body").html(data.update);
                }
            });
        });

        
        $(document).on('change', '#searchDate', function (e) {
            var selected_val = $(this).val();
            location.href='?date=' + selected_val; 

        });
    });  
</script>

{% comment %} Search JS {% endcomment %}
<script src="{% static 'assets/js/custom-js/daily-meal-request.js' %}"></script>
{% endblock javascripts %}

{% block stylesheets %}


<!-- Date range picker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="{% static "assets/daterangepicker/daterangepicker.css" %}" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />


{% endblock stylesheets %}