{% load widget_tweaks %}

<div class="container" align="center">

        <form method="POST" action = "{% url 'update_user_active' %}" enctype="multipart/form-data">

            {% csrf_token %}

            <input type= 'hidden' name = 'user_id_to_update' value ='{{user_id}}'/>

            <div class="form-group" style="align-content: center;">

                <div class="select-row">

                    <p style="font-size: 20px;">Choose User Active/Inactive</p>

                    <select name="is_active" id="is_active-{{user.id}}" >

                        <option value="">------</option>

                        <option value="True">Yes</option>

                        <option value="False">No</option>

                    </select>

                </div>

            </div>

            <button class="btn btn-primary mt-2" type="submit">Update</button>

        </form>

   

</div>